/*body{
	background-image:url("../images/abstract_color_background_picture_.jpg");
}*/
/*h1{
	color: white;
	font-size: -webkit-xxx-large;
    text-align: center;
    font-style: oblique;
    font-weight: 600;
    font-family: Andale Mono, monospace;
}
h2{
	color: white;
	text-align: center;
}
p{
	background-color: white;
}